{% extends "base.html" %}

{% block the_body %}

<form action='/login' method='POST'>
<table align="center">
<tr>
<td align="right">User-id:</td>
<td align="left"><input type='text' name='userid' value="%s"/></td>
</tr>
<tr>
<td align="right">Password:</td> 
<td align="left"><input type='password' name='passwd' value="%s"></td>
</tr>
<tr>
<td align="right"><input type='submit' value='Login'></td>
<td align="left"><input type='button' value='Register' onClick='window.location.assign("/register")'></td>
<p style="color: red">%s</p>
</tr>
</form>

{% endblock %}
