{% extends "base.html" %}

{% block the_body %}

<form action='/reset1' method='POST'>
<label>Please enter:</label>
<table align="center">
<tr>
<td align="right">User-id:</td>
<td align="left"><input type='text' name='userid'/></td>
</tr>
<tr>
<td align="right">Email address:</td> 
<td align="left"><input type='email' name='email'/></td>
</tr>
<tr>
<td align="right"><input type='submit' value='Submit'></td>
<td align="left"><input type='button' value='Login' onClick='window.location.assign("/login")'></td>
<P style="color: red">%s</P>
</tr>
</form>

{% endblock %}
